@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "xmlibris";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.01 330);
  --color-base-200: oklch(94% 0.02 330);
  --color-base-300: oklch(90% 0.02 330);
  --color-base-content: oklch(20% 0.02 330);
  --color-primary: oklch(42% 0.09 330);
  --color-primary-content: oklch(98% 0.01 330);
  --color-secondary: oklch(55% 0.05 330);
  --color-secondary-content: oklch(98% 0.01 330);
  --color-accent: oklch(35% 0.12 330);
  --color-accent-content: oklch(98% 0.01 330);
  --color-neutral: oklch(28% 0.02 330);
  --color-neutral-content: oklch(96% 0.01 330);
  --color-info: oklch(60% 0.13 240);
  --color-info-content: oklch(98% 0.01 240);
  --color-success: oklch(62% 0.16 150);
  --color-success-content: oklch(98% 0.01 150);
  --color-warning: oklch(82% 0.17 95);
  --color-warning-content: oklch(20% 0.02 95);
  --color-error: oklch(65% 0.18 25);
  --color-error-content: oklch(98% 0.01 25);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "xmlibris-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25% 0.014 165);
  --color-base-200: oklch(21% 0.02 165);
  --color-base-300: oklch(14% 0.01 165);
  --color-base-content: oklch(90% 0.01 165);
  --color-primary: oklch(62% 0.12 308);
  --color-primary-content: oklch(97% 0.008 308);
  --color-secondary: oklch(47% 0.065 305);
  --color-secondary-content: oklch(97% 0.008 305);
  --color-accent: oklch(70% 0.16 330);
  --color-accent-content: oklch(12% 0.025 330);
  --color-neutral: oklch(30% 0.016 165);
  --color-neutral-content: oklch(88% 0.01 165);
  --color-info: oklch(67% 0.14 240);
  --color-info-content: oklch(10% 0.02 240);
  --color-success: oklch(68% 0.17 150);
  --color-success-content: oklch(10% 0.02 150);
  --color-warning: oklch(84% 0.17 95);
  --color-warning-content: oklch(18% 0.04 95);
  --color-error: oklch(68% 0.19 25);
  --color-error-content: oklch(10% 0.02 25);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
